@inherits LayoutComponentBase

<div class="main">
    <div class="columns">
        <div class="column" id="sidebar-column">
        </div>
        <div class="column">
            @Body
        </div>
    </div>
</div>